
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</head>
<body>
    <form id="formCadastro" method="post">
        <!-- Modal
    <div id="meuModal" class="modal" role="dialog">
        <div class="modal-dialog">

            <!-- Conteúdo do modal
            <div class="modal-content">

                <!-- Cabeçalho do modal -->
        <div class="modal-header">
        </div>

        <!-- Corpo do modal -->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Nome">Nome:</label>
                        <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="CPF">CPF:</label>
                        <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 000.000.000-00" maxlength="14" onblur="javascript: formataCPF(this);">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm btn-success" style="margin-top: 28px;">Incluir </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rodapé do modal-->
        <div class="modal-footer">
            @Html.ActionLink("Fechar", "Incluir", "Cliente", new { }, new { @class = "btn btn-default" })

        </div>

        <!--</div>
            </div>
            </div>-->
    </form>
</body>


